﻿@model DropDownListForExample.Models.CountryViewModel
@{
    ViewBag.Title = "Index";
}

<h2>ListBox Test</h2>

@using (Html.BeginForm())
{
    @Html.DropDownListFor(m => m.SelectedValue, Model.GetSelectList())

    <br /><br />

    <input type="submit" value="Send" />
    <br /><br />
    <div>@if (Model.Country != null) { <p>@Model.Country.Continent</p> }</div>
}
